.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image { 
  width: 100%;
  }
 
.container {
    display: flex;
    justify-content: space-around;}

.item {
    flex-grow: 1;
    margin: auto;
    position: relative;
  }
  @media only screen and (max-width: 600px) {
    .container { display: block}
    body {
        background-color: rgb(0, 5, 7);
                      }
  }
.movieTitle { 
  position: absolute;
   height: 0; 
   bottom: 0;
   opacity: 0;
  background:black;
   width: 100%;
   color:white;
   text-align: center;
   z-index: 1;
   transition:  height 0.5s, opacity 1s;
 }
.item:hover .movieTitle{
  height: 10%;
  opacity: 1;
}

